<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Employee</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/views">View Employees</a>
            </li>
         </ul>
    </nav>

    <div class="container">
            <div class="row">
              <div class="col col-sm-4"></div>
              <div class="col col-12 col-sm-4">
                  <form action="/read" method="POST">
                <table class="table table-borderless table-secondary table table-hover">
                  <br>
                  <tr><td>Employee Name:</td><td><input type="text" class="form-control" name="ename" id=""></td></tr>
                  <tr><td>Designation:</td><td><input type="text" class="form-control" name="desig" id=""></td></tr>
                  <tr><td>Salary:</td><td><input type="text" class="form-control" name="sal" id=""></td></tr>
                  <tr><td></td><td><input type="submit" class="btn btn-info" value="Send"></td></tr>
                </table>
                </form>
              </div>
            <div class="col col-sm-4"></div>
            </div>
        </div>
    
</body>
</html>